// ==============================
// BootStrapとは？
// ==============================
// https://getbootstrap.com/
// cssのフレームワーク（jsも含まれているのでjsのフレームワークともいえる）
// class属性などで簡単にボタンが作れたり、モーダルが作れるので１から実装する必要がない
// ただし、便利な反面、自由度が低くなってしまい、現場独自のパーツが多い場合はBootStrapのCSSコードやjsコードを拡張しなければならず、
// １から作るより逆にコストがかかってしまうので、大規模なシステムを扱う現場では使われない
// CSSフレームワークにはBootStrapが有名だが、他にも色々なものがある（BootStrapの使い方さえ知っておけばみんな使い方はほぼ変わらない）

// ==============================
// BootStrapの使い方
// ==============================
// 1.CDNを使う
// 2.手動でダウンロードしたファイルを読み込む
// 3.パッケージ管理ツールでダウンロードしたファイルを読み込む


@import '../scss/foundation/_reset.scss'; // cssを指定した場合は @import url(../css/reset.css); に変換されるだけなので注意
@import '../node_modules/bootstrap/scss/bootstrap';
// bootstrapを読み込んでから独自のCSSを読み込むこと

// ==============================
// BootStrapの注意点
// ==============================
// 1.被るclass名は使わない
//   containerというクラス名が被っているため使わない
// 2.ver3とver4とでclass名やブレークポイントが違う

// ==============================
// 変数
// ==============================
$font-color_default: #666;
$font-color_date: #e37b89; // TODO:リファクタ必要
$color_corp: #e3a8b1;
$font-color_sub1: #b6a489;

$font-size_s: 12px;
$font-size_m: 14px;
$font-size_default: 16px;
$font-size_l: 18px;
$font-size_xl: 24px;
$font-size_xxl: 30px;
$font-size_3l: 38px;

$space_s: 5px;
$space_m: 10px;
$space_l: 15px;
$space_xl: 20px;
$space_xxl: 30px;
$space_3l: 40px;

$font-family_corp: 'Amatic SC', cursive;

//独自のscssを読み込み(変数定義後に宣言する　)
@import '../scss/foundation/base.scss';
@import '../scss/layout/header.scss';
@import '../scss/object/project/header.scss';
@import '../scss/object/project/hero.scss';
@import '../scss/object/project/bgColor.scss';
@import '../scss/object/component/sectionTop.scss';
@import '../scss/object/utility/font.scss';
@import '../scss/object/utility/margin.scss';
@import '../scss/object/component/ornament.scss';





// ==================================
// panel
// ==================================
.panel {
  width: 100%;
  position: relative;
  transition: .5s;
  margin-bottom: $space_l;
  &-hover {
    display: inline-block;
    transition: .5s;
    &:hover {
      transform: scale(1.03);
      box-shadow: 0 0 10px rgba(0, 0, 0, .3);
      transition: .5s;
    }
  }
}

// ==================================
// footer
// ==================================
.footer {
  background: #555;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  @include media-breakpoint-down(xs) {
    font-size: $font-size_s;
  }
}

